# OS files #
############
._*
*.DS_Store
Thumbs.db

# Visual studio user files #
############################
*.suo
*.user
*.vsmdi
*.testsettings
*.vs

# VS Code user files #
############################
.vscode

# Compiled files #
##################
bin
obj
testresults
*.log
*.mzp